/*****Grid*****/

body {
    max-width: 1400px;
    
}
.full-width {
    width: 1400px;
    
    
}

.half-width {
    width: 600px;
    float: left;
    height: 400px;

}

.third-width {
    width: 400px;
    float: left;
    height: 300px;
    

}



/*****Header*****/

header {
    height: 800px;
    background: url('../img/banner_image.jpg'); 
    background-size: cover;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
    
}

header div {
    padding-top: 250px;
}

header h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 52px;
    text-emphasis: bold;
    color: #add3ab;
}

header p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #eaeaea;
   

}
/*****Portfolio*****/

#portfolio {
    color: #130303;
    height: 1400px;
    padding: 1px;

}

 

#portfolio .half-width {
    height: 400px;
    
}

#portfolio img {
    
    width: 550px;
    height: 320px;
    margin-left: 100px;
    border: #50514f solid 1px;
    

}

#portfolio h2 {
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Roboto Slab', serif;
    font-size: 34px;

}

#portfolio h3 {
    font-family: 'Merriweather', serif;
    font-size: 26px;
    padding-left: 150px;
    
  
    
    
}

#portfolio p {
    font-family: 'Lato', sans-serif;
    padding-left: 150px;
    font-size: 24px;
    width: 500px;
    
}
/*****About Me*****/

#about-me {
    height: 800px;
    background-color:#3e2d28;
    margin-bottom: 0px;
    padding-top: 15px;
    color: white;
    
    
}

#about-me h2 {
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Roboto Slab', serif;
    font-size: 34px;
}

#about-me h3 {
    padding-top: 50px;
    font-family: 'Merriweather', serif;
    font-size: 26px;
    padding-left: 150px;
}

#about-me p {
   
    font-family: 'Lato', sans-serif;
    padding-left: 150px;
    font-size: 24px;
    width: 500px;
    

}

#about-me img {
    padding-left: 100px;
    width: 550px;
    
}
/*****Contact*****/

#contact {
    height: 525px;
    background-color: #130303;
    padding-top: 1px;
    color: #eaeaea;
}

#contact h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Roboto Slab', serif;
    font-size: 34px;


}

#contact h3 {
    font-family: 'Merriweather', serif;
    font-size: 26px;
    text-align: center;
    padding-left: 175px;
    
    


}

#contact p {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    text-align: center;
    padding-left: 175px;
    width: 250px;


}

#contact ul {
    text-align: center;
    padding-left: 175px;    
    
}
#contact ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    
   
    
}

#contact img {
    width: 50px;
}

footer {
    width: 1200px;
    text-align: center;
    padding-left: 100px;
    clear: both;
    font-size: 12px;
    
}